image_version: P0S3-07-3-00

#
# Sip Config for Extension: 5
#
# hostname SIP000BBE3FD2CA
#

 # Line 1 Setup
line1_name: "spare"
line1_authname: "spare"
line1_shortname: "sp"
line1_password: "mutopia"
line1_displayname: "Mutopian spare pod";
dial_template: DIALPLAN

 # Line 2 Setup
line2_name: "podSpare-2"
line2_authname: "spare-2"
line2_shortname: "sp-2"
line2_password: "mutopia"
line2_displayname: "Mutopian spare line 2";
dial_template: DIALPLAN


# Phone Password (Password to be used for console or telnet login)
phone_password: "cisco" ; Limited to 31 characters (Default - cisco)

# User classifcation used when Registering [ none(default), phone, ip ]
user_info: none
logo_url: "http://10.1.1.1/Swirls-mutopia.bmp" 

telnet_level: 2
