image_version: P0S3-08-3-00

#
# Sip Config for Extension: 3
#

 # Line 1 Setup
line1_name: "Pod 3
line1_authname: "pod3"
line1_shortname: "3"
line1_password: "mutopia"
line1_displayname: "Mutopian pod 3";

 # Line 2 Setup
line2_name: "Pod 3"
line2_authname: "pod3"
line2_shortname: "3"
line2_password: "mutopia"
line1_displayname: "Mutopian pod 3";

# Phone Password (Password to be used for console or telnet login)
phone_password: "cisco" ; Limited to 31 characters (Default - cisco)

# User classifcation used when Registering [ none(default), phone, ip ]
user_info: none

telnet_level: 2
