image_version: P0S3-07-3-00

#
# Sip Config for Extension: 0
#
# hostname SIP000BBE7C98FF
#

# Phone-wide settings
dial_template: DIALPLAN2
call_waiting : 0
auto_answer : 1

 # Line 1 Setup
line1_name: "pod0"
line1_authname: "pod0"
line1_shortname: "0"
line1_password: "mutopia"
line1_displayname: "Mutopian pod 0"

 # Line 2 Setup
line2_name: "pod0-2"
line2_authname: "pod0-2"
line2_shortname: "0-2"
line2_password: "mutopia"
line2_displayname: "Mutopian pod 0 line 2";

# Phone Password (Password to be used for console or telnet login)
phone_password: "cisco" ; Limited to 31 characters (Default - cisco)

# User classifcation used when Registering [ none(default), phone, ip ]
user_info: none
logo_url: "http://10.1.1.1/Swirls-mutopia.bmp" 

telnet_level: 2
