image_version: P0S3-07-3-00

#
# Sip Config for Extension: 6
# hostname SIP000BBE4049AE
#

 # Line 1 Setup
line1_name: "pod6"
line1_authname: "pod6"
line1_shortname: "6"
line1_password: "mutopia"
line1_displayname: "Mutopian pod 6";
dial_template: DIALPLAN

 # Line 2 Setup
line2_name: "pod6-2"
line2_authname: "pod6-2"
line2_shortname: "62"
line2_password: "mutopia"
line2_displayname: "Mutopian pod 6 line 2";
dial_template: DIALPLAN


# Phone Password (Password to be used for console or telnet login)
phone_password: "cisco" ; Limited to 31 characters (Default - cisco)

# User classifcation used when Registering [ none(default), phone, ip ]
user_info: none
logo_url: "http://10.1.1.1/Swirls-mutopia.bmp" 

telnet_level: 2
