image_version:P0S3-07-3-00;

proxy1_address: 10.1.1.1;
proxy_register: 1;

phone_password: "mutopia";
sntp_server:    10.1.1.1;
time_zone:      PST;
dial_template: DIALPLAN
logo_url: "http://10.1.1.1/Swirls-mutopia.bmp" 
autocomplete : 1
call_waiting : 0
